[2016-12-04 18:01] fleischie opened #1 "Style `&`"
Make `&` symbol highlight differently than plain old strings.

[2016-12-04 18:07] fleischie opened #2 "Make VimBox work"
@mxstbr mentioned an inoperable highlighting when using VimBox. I couldn't reproduce on my girlfriend's Mac, yet. (Shoutouts to significant others).

Let's see whether we can get this to work. 😄

[2016-12-04 18:12] fleischie opened #3 "Support nested block descriptions"
CSS only supports one layer of block definitions:

[code]

Only the `main` is highlighted, the `article` and `section` is merely a string literal.

[2016-12-04 18:13] fleischie opened #4 "Values and Units are not fully working"
Number values are not correctly displayed, yet.

Units are sometimes highlighted inside other (key)words.

[2016-12-04 18:15] fleischie opened #5 "Indentation for surrounding JS not working."
The indentation is only of the CSS (primarily blockwise in-/outdent). The potential JS outside of the styled components definition is not indented correctly.

[2016-12-06 21:59] sylvainbannier opened #6 "styled-component filetype overrides javascript.jsx"
Thanks for this plugin. Had to disable it though because of this issue :
when I edit a file with styled-components imports, the `javascript.jsx` filetype is replaced with `styled-component`, thus causing various issues (code completion, snippets based on filetype...)
Is there a way to avoid that ?
(installed with vim-plug)

[2016-12-06 22:19] fleischie commented on #6
Yes, this bugged me from the beginning as well.

I think I may be technically able to extend `javascript.jsx` as a file type for styled components, I just have not figured out, yet, how. But I will in time.

Thanks for the honesty, I'll let you know, when this changes. ☺

[2016-12-07 22:25] #4 closed

[2016-12-07 22:29] fleischie commented on #2
This seems to have been an issue with where to add the plugins for VimBox (it's apparently `~/.vim/bundlesVimRc.custom` and not `~/.vim/vimrc.custom.after`.)

See the [original thread](https://github.com/styled-components/styled-components/issues/257) and it's [solution here](https://github.com/styled-components/styled-components/issues/257#issuecomment-265286725).

[2016-12-07 22:29] #2 closed

[2016-12-20 15:14] fleischie commented on #5
This should be improved by commit a08f100, which now has a more though-trough process of indenting each line according to it's contents.

It's still not perfectly implemented, as specific edge-cases might be breaking the indentation of css inside of jsTemplateStrings (as well jsTemplateStrings, which mistaken `${}` as a css definition, etc.).

[2017-01-26 08:41] victorandree opened #7 "Typescript (.tsx/.ts) support"
Is it as simple as adding:

[code]

to relevant places, et cetera?

[2017-01-26 15:28] fleischie commented on #7
Hi @victorandree is this a question? :smile:

I personally have no experiences with typescript, but am willing to help of course.

`runtime! syntax/typescript.vim` will source all ex commands in the file provided. Thus if you have a `syntax/typescript.vim` file in your runtimepath it will be sourced. Missing files will be ignored, thus even if you have no such files, this command will not break an

[2017-01-27 16:08] victorandree commented on #7
Sorry for being so short! Yes, it was a question :) I am wondering how easy it would be for this plugin to support TypeScript. I did a very quick and dirty patch according to the below. It seems to *work* but isn't exactly properly tested... Good enough for a pull request?

[code]

[2017-01-27 16:57] fleischie commented on #7
Fundamentally the patch is ok.

The question is, whether typescript and javascript definitions (sourced via the `runtime!` commands) affect each other (regarding whether at all or in a specific order). I don't know typescript all too well, but will check their vim definitions out in the near future. If you like you can prepare a PR for now. :smile:

[2017-02-01 13:40] fleischie commented on #7
Thanks for bringing this up. I merged your PR and will close this issue for now. I urge interested users to create a new issue, if there is something wrong with typescript-support.

[2017-02-01 13:40] #7 closed

[2017-02-08 11:25] fleischie commented on #6
@sylvainbannier How are the code completion and snippets bound in to the `javascript.jsx` filetype?

If these are additional vim plugins, I may be able to copy their workflow in some way or another?
I unfortunately was not able to find a way to simply extend an external filetype, I appreciate any tips and help. :smiley:

[2017-02-09 12:14] houshuang commented on #6
Same problem, this disabled syntastic checking with eslint, flow etc.

[2017-02-09 13:13] fleischie commented on #6
Hmm, can someone provide an example I could try out?

I usually don't have much functionality in my styled components but only the basic presentational components definition:
[code]

But I can imagine use-cases. So if you got one, gimmegimmegimme and I'll see what I can do. :bowing_man:

[2017-02-09 13:44] houshuang commented on #6
No, it seems like it changes the file type for the entire file, so syntastic checking is turned off for the entire file, not just the styled component.

[2017-02-09 14:03] fleischie commented on #6
@houshuang The filetype is determined from a `import * from 'styled-components';` and thus the javascript/typescript file, that defines a styled component has neither linting, flow, etc. yet.

I now need a non-trivial presentational component, that has a necessity for flow and lint expressions, so I can test this more thorougly. I usually don't mix presentational and more functional components, mi

[2017-02-09 14:48] houshuang commented on #6
Thanks for getting back to me. Here's the example that triggered this. Note that I'm not necessarily proud of this code, and it was also part of me trying out styled-component. I'm actually refactoring this right now, however it will still have the presentational components and a component that has a data connection and thus I would like type-checked etc.

https://github.com/chili-epfl/FROG/blob/d

[2017-02-09 14:49] houshuang commented on #6
(And I am using syntastic with flow and eslint. Flow is the most important to me.)

[2017-02-09 14:50] fleischie commented on #6
@houshuang Thanks. I'll check it out. :+1:

[2017-02-09 17:02] #6 closed

[2017-02-09 17:04] fleischie commented on #6
@houshuang @sylvainbannier Please checkout the latest master commit. I think I might actually have found a suitable solution for this specific issue.

Feedback is appreciated, if anything breaks, please feel free to open a new issue. :smiley:

[2017-02-09 17:21] fleischie opened #9 "Supply CSS3 rules"
It seems the css syntax filed bundled with vim does not support CSS3 definitions, see [this test file](https://github.com/fleischie/vim-styled-components/blob/79d03643e400aaa7c200702449f56abb8051e717/test/typescript.ts#L30) in your styled-components powered vim.

There might be two options:
1. Depend on an already existing vim-plugin, that supplies these rules or
2. Manually define these rules ins

[2017-02-09 17:42] fleischie opened #10 "Only extend syntax/indentation if styled-components are available"
Check, whether it is possible, whether the syntax-highlighting/indentation can only be done, if there is a `import * from "styled-components";` present.

I currently had an issue with:
[code]

without styled components, that got a broken indentation after the `token's` single quote.

[2017-02-10 12:11] #10 closed

[2017-02-13 14:02] ismay commented on #9
I don't know how easy solution number 1 is compared to the other, but if 1 is feasible I'd choose that route. Less maintenance and duplication of work that way. Also, this issue is probably why I'm having this syntax highlighting bug:

<img width="292" alt="screen shot 2017-02-13 at 14 59 32" src="https://cloud.githubusercontent.com/assets/7355199/22886261/587a78be-f1fd-11e6-9f32-206dad9258b5.png"

[2017-02-15 10:23] on3iro opened #11 "Plugin does not work with ft=javascript.jsx"
Hey,

thanks for the cool plugin. Unfortunately I can't seem to get it to work with the filetype `javascript.jsx`.
Is there anything I could do?

[2017-02-15 10:29] fleischie commented on #11
Hey @on3iro.

Let's start from the beginning:
1. How did you install the plugin? Package manager yes/no/which one or manually?
2. Why do you say it's not working? Missing indentation/syntax?
3. How does the file look, that you are trying to modify?

I think these questions should get us moving for now. :smile:

[2017-02-15 12:06] on3iro commented on #11
Hey @fleischie,

Thanks for the quick response.
Regarding your questions:
    1.) I installed the plugin via Vundle
    2.) Syntax-Highlighting is missing (it is present with `ft=javascript`)
    3.) It is a pretty simple styled-component
The odd thing is, that right now it seems to be working and I can't really reproduce the issue.
I will keep you updated if it happens again :)

[2017-02-15 12:36] fleischie commented on #11
Yes, sure. No problem. :smile:

I may think to know, what the problem is: The plugin only sets up the highlighting/indenting, if the file you are editing is a `styled-component` (as in, contains a line containing either `import ... from ... styled-components` or `require ... styled-components ...`) to not hightlight/indent template strings in a test/snapshot for example.

Thus, if you open a new `

[2017-02-15 12:36] #11 closed

[2017-02-22 22:50] puradox opened #12 "Function within the template literal"
I don't believe the syntax is being highlighted correctly when functions are introduced to the template literal.
Especially the last curly brace on Line 6 in the screenshot below. It sticks out like a sore thumb to me.

![func](https://cloud.githubusercontent.com/assets/941763/23236310/957b3c82-f90d-11e6-8e9d-c021a8df1fba.png)

[2017-02-24 00:57] fleischie commented on #12
Yes, this is especially annoying on such cases as:
[code]

I don't have a screenshot handy, but the outermost `}` get's highlighted as unclosed bracket. I suggest I investigate, whether a SCSS plugin or it's algorithm might fix this issue.

[2017-03-14 13:10] fleischie opened #13 "cssAttrRegion problems"
The `cssAttrRegion` differentiates props and attributes from one-another as they both may have the same keywords. Basically it defines the region between an `:` and an `;`/`)`/`}` to be an attr.

The problem now is in the form of a list of pseudo-classes/-elements:
[code]
resp.
[code]

the first element is treated as an attribute (because it starts with a `:` but doesn't close with an appropriate

[2017-03-14 13:15] fleischie commented on #3
The important keywords here are `cssDefinition`, `cssBraces` and `transparent`.

The `cssDefinition` is defined as transparent contained in a `cssBraces` definition. The `transparent` keyword is used to declare, that `cssDefinition` is itself not highlighted, but uses the highlighting of the item it is contained in.

[2017-03-14 13:16] fleischie commented on #5
Closing, as this particular issue seems fixed as the previous comment suggest. Open a new issue, if this still occurs. :+1:

[2017-03-14 13:16] #5 closed

[2017-03-14 13:22] fleischie commented on #9
@ismay I don't know stylelint to be perfectly honest, but it seems it does construct an AST of the given file and check it against a given number of arguments/config-items/etc. As this project is merely a vim-plugin I don't have access to higher-order functionality. Or did I misunderstand you in this regard?

I checked for the css3 vim-plugin but it seems the ones I found didn't populate the synta

[2017-03-15 09:03] ismay commented on #9
Probably not, I'm not at all experienced with creating vim plugins, so I have no idea what the best course of action would be here.

[2017-03-20 05:33] JikkuJose opened #14 "Think the `css` function's template strings aren't considered for styling"
Edit (by fleischie):

Hey fleischie, thanks for your hard work! :100:

I found an issue regarding the highlighting of specific keywords of the `styled-components` module. See the attached screenshot: The `css` tagged template literal leads to an inconsistently highlighted content.

I would appreciate some pointers or any hints on how to fix/bypass this. :bowing_man:

Original description:
![screen

[2017-03-21 21:09] fleischie commented on #14
Sorry @JikkuJose I cannot reproduce the above behavior.

Maybe you can provide some more information on what your working environment is: OS, vim-flavor, etc.

Also does `pad` and/or `shadow` contain semi-colons? Because I might suspect the missing `;` to cause problems later on. (Although only when not after a `}`...) I might consider looking into it, when I have time to fix the overall styling i

[2017-03-22 07:14] JikkuJose commented on #14
#### Environment info:
- OSX 10.11.6
- Neovim 0.1.4

#### Vimrc
[.vimrc][vimrc] (shared for Neovim too)

#### Source
[Styles.js][styles]

[styles]: https://hastebin.com/jedebiferu.bash
[vimrc]: https://github.com/JikkuJose/dotfiles/blob/master/vimrc

[2017-03-22 09:55] fleischie commented on #14
Do you use the latest version of this plugin? I cannot reproduce the issue you are describing above with my develop version (which is also the current master).

Technically, I don't include anything specific in the namespace to handle as styled-component's tagged template literals. I just check, whether `styled-components` is in the file and handle every template string as a container for css-synt

[2017-03-23 16:43] fleischie commented on #1
I'm closing this issue for now, as I don't actually see a benefit from doing this. :roll_eyes:

If this should come up again, the solution would be something like this:
[code]

[2017-03-23 16:43] #1 closed

[2017-03-23 17:33] #3 closed

[2017-03-23 17:33] #12 closed

[2017-03-23 17:33] #13 closed

[2017-03-23 17:37] fleischie commented on #9
After fiddling around with `vim-css3-syntax` I found some quirks I couldn't resolve just yet.

- `runtime! syntax/css/*.vim` loads all syntax files into the current buffer, but I think this and `syntax include syntax/css.vim` collide in some way or another, because depending on order of execution some definitions get loaded and some don't.
- for whatever reason `padding` and `color` don't get high

[2017-03-24 13:13] sourcesoft opened #15 "conflict with neoformat"
related to https://github.com/sbdchd/neoformat/issues/55

seems like using `neoformat` with `vim-styled-components` makes the cursor jump to import statement on every save, which gets solved after removing this plugin.

[2017-03-24 14:03] fleischie commented on #15
@sourcesoft OK, this is a rather exotic behavior. :thinking:

If you put the import statement in another line (e.g. the 20th instead of the 1st), does this jump the cursor to the import-line as well?

Is this only when using prettier as the reformatter? Did you try to go back to the cursor position with `<C-o><C-o>`?

I have no experience with `neoformat` and I am not sure, whether this has anythi

[2017-03-24 14:12] sourcesoft commented on #15
always jumps to the line with import statement

happens without prettier too

just ran :Neoformat manually inside vim and it jumps

[2017-03-27 09:45] fleischie commented on #15
@sourcesoft I think I managed to find the culprit of the issue. It's the following line/lines: [syntax/javascript.vim#L56,L57](https://github.com/fleischie/vim-styled-components/blob/19ceed25bcfeb45751d33e71c8beff33d2f238b6/after/syntax/javascript.vim#L56,L57)

I will keep you updated on the progress.

[2017-03-27 09:50] fleischie commented on #15
@sourcesoft I have found and fixed the issue, will upload shortly.

P.S.: I had to supply the 'n' flag to the `search` call. Thanks vim-docs. :slightly_smiling_face:

[2017-03-27 09:56] #15 closed

[2017-04-20 11:34] #9 closed

[2017-04-20 11:37] fleischie commented on #14
Closing, because:

1. Inactivity, and
2. cannot reproduce.

[2017-04-20 11:37] #14 closed

[2017-05-22 16:29] philpl opened #16 "Fix Styled Components highlighting for v2"
In v2 (which will be officially released shortly, and is currently in RC) we have a few new methods which will need to be added to the syntax highlighting. The three methods are:

### `.extend`

[code]

### `.extendWith()`

[code]

### `SC.attrs({})`

[code]

I hope this isn't too much trouble :)

[2017-05-22 20:20] fleischie commented on #16
First of all: Thank you for acknowledging me and my humble project. 😄
Second: Even if it were too much trouble, I'd make sure that I give everything to make sure SC looks and handles the best way it can.

Third and only important statement: I don't handle separate keywords. I check for statements such as `import ... styled-components` and `require ... styled-components` and then inject CSS rules i

[2017-05-22 20:51] #16 closed

[2017-05-23 11:19] fleischie opened #17 "Support multi-line imports"
Having the following import statement does not trigger the correct filetype detection:
[code]

Maybe the regex can be extended to include multi-line import statements.

[2017-05-23 11:22] fleischie opened #18 "Manually fix cssAttrRegion"
Properties, that can be attributes as well (e.g. color, border, etc.) are highlighted incorrectly as an attribute.

`cssAttrRegion` breaks pseudo-elements/-selectors though.

So I suggest to fix this manually, by re-defining a cssAttrRegion, that is more robust for our use-case.

[2017-05-24 16:39] philpl commented on #16
Awesome work!

[2017-05-26 13:06] fleischie commented on #18
Another idea I just had:
Copy the way [thysultan/stylis.js](https://github.com/thysultan/stylis.js) parses css.

[2017-05-27 02:26] Jmeyering opened #19 "Not identifying"

[2017-05-27 02:26] Jmeyering opened #20 "Not identifying "`" regions as css"

[2017-05-27 02:28] Jmeyering commented on #20
![image](https://cloud.githubusercontent.com/assets/5166603/26517234/07794aaa-425a-11e7-84e6-d5c75462cec0.png)

As you can see I'm really struggling to get this syntax working properly. You can see my .vimrc here
https://github.com/Jmeyering/dotfiles/blob/master/vimrc.

Interestingly enough with this screenshot as you can see I do get appropriate highlighting of the regions enclosed in the `${}`.

[2017-05-27 02:28] Jmeyering commented on #20
I'm running Vim 7.4 in Ubuntu with Solarized Dark

[2017-05-27 07:54] fleischie commented on #19
I think this issue should have become #20? Closing this one, taking care of the other one. 😉👍

[2017-05-27 07:54] #19 closed

[2017-05-27 08:06] fleischie commented on #20
Hello.

If I understand correctly you are referring to the first three attributes, right? Because I can assure you, that this is not your fault. This is an issue I had troubles with getting correctly implemented.

To be more specific: Css has a `CSSAttrRegion`, that matches keywords up until a `:`. Unfortunately this leads to pseudo-elements and -classes to be misinterpreted. Leaving this rule out

[2017-05-27 12:29] Jmeyering commented on #20
Correct! Good to know! Thanks for the information

[2017-05-29 21:20] fleischie commented on #20
@Jmeyering what version are you using? (Or more specifically, when did you last update this plugin?)

Because I just added the code snippet from your issue and I cannot reproduce your observed behavior/highlighting.

<img width="435" alt="screen shot 2017-05-29 at 23 17 00" src="https://cloud.githubusercontent.com/assets/2211050/26562247/fa8152b2-44c4-11e7-915d-5b3d5ce7fe15.png">

I use the latest

[2017-06-01 01:13] Jmeyering commented on #20
So interestingly I was on vim 7.4. I upgraded to 8.0 and now my syntax looks as yours does.

So hopefully that helps someone else.

[2017-06-01 05:37] fleischie commented on #20
Ooohhh.

This might have to do with the standard CSS rules, that are shipped with vim. I will check, whether 8 has more/different rules than 7.4 (and neovim).

In any case this might be very helpful. Thank you for reporting and feedbacking (backfeeding?). 🙇

[2017-06-15 01:16] Jmeyering opened #21 "[Discussion] Consider specifically targeting styled sections"
I believe that targeting *all* template literals within a module is a little bit excessive and leads to some incorrect syntax highlighting in some cases.

If you have a component that imports `styled-components` and has a template literal somewhere in the file, this syntax highlighter will try to highlight it as css.

One option would be to specifically target known SC or DC functions. Something l

[2017-06-15 12:59] fleischie commented on #21
Hello. Thanks for your consern. 😄

The initial use case was for really specific files, that only contain styled components without any behavior and/or templating outside of styling.

So I originally neither intended for tagged template literals other than styled ones nor suggest it's usage.

I understand that there is a possibility for complex files and/or templating, so I am open for suggestions

[2017-06-21 15:53] fleischie commented on #20
@Jmeyering should I still investigate this issue? I would like to close this specific one and wait for another (similar) issue to reference this one and perhaps go from there, if you say you don't have this problem anymore. :smile:

In any other case. I might dig deeper into this.

[2017-06-21 18:35] Jmeyering commented on #20
works for me

[2017-06-21 18:35] #20 closed

[2017-06-22 13:59] fleischie commented on #17
This should be included in the next release, which will include this and #18 (hopefully soonish).

[2017-06-22 13:59] #17 closed

[2017-07-11 11:34] emilgoldsmith opened #22 "Nested template literals with interpolations breaks highlighting"
![screenshot from 2017-07-11 13-33-08](https://user-images.githubusercontent.com/18149242/28066497-7e457b5c-663d-11e7-96d3-f4ed829fd21c.png)

The nested interpolation is somehow seen as the closing interpolation for the outside interpolation. I'm assuming it's a problem with this package, thought it could be with YAJS.vim

[2017-07-12 15:57] fleischie commented on #22
Hi, yes this is definitely a problem with this package.

I cannot offer an immediate solution, as these things are really hard to debug. I will keep it in mind though, when I find the time to work on this. 🙂

In the meantime: Try to refactor your functions (less nesting, more testing) 🙂

[code]

Or alternatively:

[code]

This works as well, as 'auto' is the default value for unset height/width at

[2017-07-12 16:45] emilgoldsmith commented on #22
Hi @fleischie no problem :). I understand the troubles of maintaining a package!

Yeah my quick fix was actually exactly doing a refactor ;). Already implemented!
[code]

And it now looks like this:
[code]
Much nicer!

(Also changed to inlining the svg :) )

[2017-07-12 18:11] garetmckinley opened #23 "Very weird highlighting"
Sorry the title feels a little vague, wasn't sure the best way to describe what is happening here.

![image](https://user-images.githubusercontent.com/1624279/28132745-bcd5e0b8-670b-11e7-8e35-aa6a978c82a2.png)

Not sure if it could  be a conflict, but here's my js related plugins:

[code]

[2017-07-12 18:47] garetmckinley commented on #23
After doing some research, it looks like I found this issue a while ago 😂 https://github.com/styled-components/styled-components/issues/257#issuecomment-264712774

Is this something you're planning on fixing, or is this not really being maintained anymore?

[2017-07-19 14:52] fleischie commented on #23
Sorry for the late reply.

There are two things I wanted to mention:
1. The property definition (the part before the `:`).
2. The attribute definition (the part after the `:`).

The first part is probably not in scope of this project, as I do not intend to support CSS3 rules by myself and I'm not comfortable with brute-force saying everything before a `:` is a prop. The latter may hide typos and s

[2017-07-19 16:24] garetmckinley commented on #23
Maybe I'm missing something, but is it really that large of a task to support css3 rules? I've written a few syntax packages myself, so in my mind they're usually laid out in an xml file of regex rules, which is fairly easy to maintain (I'm not sure the structure of vim syntax packages, I'd have to dive into the source).

If you need some help, I'd love to dig into this and try to improve the pack

[2017-07-19 18:45] fleischie commented on #23
No problem. Feedback is always welcome and appreciated. 😄

There are two parts to the answer (again 😋):
1. vim is using a different system of defining styles. You can check the help page in vim `:help syntax` or for example here: https://github.com/lepture/vim-css/blob/master/syntax/css.vim
2. I don't like this plugin to come with css3 rules. There may be other plugins, that are better suited and/

[2017-08-03 09:20] fleischie commented on #18
I think I have fixed this issue. Please open a new one, if the problem persists.

[2017-08-03 09:20] #18 closed

[2017-08-03 09:25] fleischie opened #24 "Classes are incorrectly highlighted"
Something I have not yet thought about: class definitions, that can be injected globally.

[code]

I should highlight class names (and ids for that matter) independent from the actual name and only outside of the definition region. And anyway, why is that not already handled correctly?

[2017-08-03 09:32] fleischie commented on #24
After 2 minutes of research, re-defining `cssClassName` and `cssIdentifier` fixes this problem, but they are the same as the original file, why isn't it used in the `@CSS` cluster?

[2017-08-08 01:01] mike3run commented on #24
TIL that 💅 has global css thanks a lot!!

[2017-08-10 22:29] dylanpyle commented on #23
I don't know anything about how vim highlighting definitions work, but here's what I see before and after installing this:

![screen shot 2017-08-10 at 3 24 06 pm](https://user-images.githubusercontent.com/806257/29194852-6db9b64e-7de0-11e7-854c-f64f9272f9d9.png)
![screen shot 2017-08-10 at 3 21 09 pm](https://user-images.githubusercontent.com/806257/29194862-74068bf8-7de0-11e7-871d-d5b738454531.p

[2017-08-31 21:03] fleischie commented on #23
Hey @dylanpyle

Can you provide some more information of what the situation is, that you are trying to communicate with your images? What vim plugins do you have installed? What is the whole source code?

Also what it is a dealbreaker of?

[2017-09-01 06:45] mxstbr opened #28 "E363: pattern uses more memory than 'maxmempattern'"
Getting this error when opening any (?) JS file:

<img width="1213" alt="screen shot 2017-09-01 at 8 43 21 am" src="https://user-images.githubusercontent.com/7525670/29958216-e5355be8-8ef1-11e7-8c2f-49f1bb5ec410.png">

These files don't even contain any styled components!

[2017-09-01 10:19] fleischie commented on #28
Hi Max, every JS file? Yes, probably. 😑

The way this plugin works is by checking, whether something is required/imported from a supported API by searching for a specific regular expression on every javascript file. The default memory is 1000 bytes and the error message basically indicates, that the search has to keep more than 1000 bytes in memory to check, whether this is the case.

I will have

[2017-09-01 10:52] mxstbr commented on #28
I feel like assuming that any `styled.div` call with a tagged template literal likely has styles after it is fine, why do we check for imports?

[2017-09-01 12:31] fleischie commented on #28
I thought checking for imports is the smallest common denominator.

The plugin does not specifically highlights CSS rules in tagged template literals, but CSS rules in all template strings, if the import statement is present.

But now that you mention it, maybe it makes more sense to only inject CSS rules into tagged template literals? But then again, how to know whether it's only API-conform tagg

[2017-09-01 12:43] mxstbr commented on #28
I think there's just three cases where they should be highlighted as CSS:

[code]

[2017-09-01 13:25] fleischie commented on #28
What about `css`, `injectGlobal`, etc.?

There already was a discussion about whether to whitelist the tagged templates and I wasn't really convinced. (See #21.)

Do you have a lot of plugins and/or give an example file, that displays the `maxmempattern` errors? So I can better test? Also what's your environment? Vim Version, OS, etc.

[2017-09-06 04:30] nwaywood commented on #23
I am also getting some pretty weird highlighting

![image](https://user-images.githubusercontent.com/3773641/30094390-71065d54-930f-11e7-9c46-479331ed40f8.png)

- The coloring on the class names (for example line 54 shows three different colors on one class name
- The random colored `s` on line 83 and 90

My related plugins are:
- `pangloss/vim-javascript`
- `mxm/vim-jsx`
- `ternjs/tern_for_vim`
-

[2017-09-18 09:59] fleischie commented on #21
In light of the emerging issues regarding the syntax highlighting I will try to (someday) completely re-implement a manual highlighting (no relying on external CSS definitions (although that would have been awesome).

For this I'd like to:
a) Not rely on a certain import-line to be present for this plugin to trigger.
b) Have a more simple definition schema of the rules (to specifically bypass hyph

[2017-09-18 10:01] fleischie commented on #28
@mxstbr If you are still interested in this issue, I discussed a complete rewrite of this plugin [in this comment on #21](https://github.com/styled-components/vim-styled-components/issues/21#issuecomment-330175614).

I hope that a complete rewrite will mitigate this memory pattern issue.

[2017-09-18 10:04] fleischie commented on #24
See [comment on issue #21](https://github.com/styled-components/vim-styled-components/issues/21#issuecomment-330175614) for a discussion on completely re-writing this plugin to be more robust on these kind of things.

[2017-09-18 10:05] fleischie commented on #23
Sorry for the late reply, I was ill.

If you are still interested in this, I have discussed [in a comment on issue #21](https://github.com/styled-components/vim-styled-components/issues/21#issuecomment-330175614) a complete re-write of the plugin to be more robust against certain issues discussed here (units highlighted in arbitrary text, classnames not highlighted at all, hyphens break the highli

[2017-09-18 10:07] fleischie commented on #22
I am torn, whether to close this issue (as it seems to be resolved) and keeping it open (as it seems to be a still active larger-scale issue).

...

I think I'll close it and maybe re-open, if it re-surfaces. 🤷‍♂️

[2017-09-18 10:07] #22 closed

[2017-09-25 17:26] fleischie commented on #21
For everyone interested (cc @Jmeyering) : Please (git) checkout #30 and let me know, what you think.

[2017-09-25 17:26] fleischie commented on #28
Update: Please see whether #30 helps you with this error.

[2017-09-25 17:27] fleischie commented on #24
Please see, whether #30 fixes this issue.

[2017-09-25 17:29] fleischie commented on #23
@nwaywood @dylanpyle @garetmckinley please see, whether #30 fixes these issues for you.

Please note however, that indenting is not yet updated to match the newly implemented highlighting behavior. Let me know, if you find any issues.

[2017-09-25 23:54] nwaywood commented on #23
@fleischie just tried it out and the syntax highlighting is MUCH better thank you! The only minor issue I still notice is that the highlighting of `-`'s is not consistent.

For example, you can see on lines 69-70 the `-` is white, then on line 71-72 the `-` is orange.

![image](https://user-images.githubusercontent.com/3773641/30836317-bc7973de-a2a0-11e7-9eff-49fe969dd604.png)

[2017-09-26 08:55] fleischie commented on #23
@nwaywood I'm glad you like it. 🙇

Unfortunately I cannot do very much about this particular issue, as it is an issue that lies between how vim handles highlight-matching and how the default CSS styles are defined.

<details>
Basically there is a `keyword` (directly defined word) and a `match` (regexp). The former has precedence over the latter. `left` is defined as a keyword and `padding-left` is

[2017-09-26 16:49] dylanpyle commented on #23
@fleischie Yep, so much better on that branch. Thank you!

[2017-10-24 19:25] elliotec commented on #21
The rewrite branch is 💯 , any plans to merge to master so people get this by default?

[2017-12-14 09:44] simlrh opened #32 "Highlighting stops after comma in font-family declaration"
This affects #30.

    import styled from 'styled-components';

    const Div styled.div`
      font-family: 'Times New Roman', serif;
    `;

    const P = styled.p`
      font-family: Arial, sans-serif;
    `;

    const A = styled.a`
      font-family: system-ui;
    `;

In the above example, the highlighting on `Div` works ok although `serif` is not highlighted.

However on `P` since `sans-ser

[2017-12-14 10:10] simlrh opened #33 "Parentheses inside attrs constructor break highlighting"
This affects #30.

[code]

Attempting to use dynamic prop generation fails if you use parentheses inside the attrs constructor. Here `Div` works but `P` doesn't.

[2017-12-14 23:20] fleischie commented on #32
Hey @simlrh thanks for the edge case. :smile:

Just to make sure I don't misinterpret your example: There is an equal sign between Div and styled.div, right?

Also is it possible, that the described issue is only due to `sans-serif` breaking the highlighting? Try putting this in quotes and the rest should work normally.

I suspect that this is due to how vim handles precedences on highlighting key

[2017-12-14 23:24] fleischie commented on #33
Thanks @simlrh for this issue. I will look into it, when I find the time.

[2017-12-15 08:58] simlrh commented on #32
Yes, there should be an equals sign, and there was in the code where I came across the problem.

The reason I thought it was the comma is, in `font-family: sans-serif;` 'sans-serif' is highlighted in orange and highlighting on the next row is correct, while in `font-family: Arial, sans-serif` 'sans-serif' is half white and half yellow, and highlighting on the next line is incorrect. Anything after

[2018-01-11 01:47] omeid commented on #28
#30 solves the problem for me.

[code]

[2018-01-30 11:25] nerfologist commented on #28
I also run into this error when running various commands on a non-styled component .js file.

#30 solves the problem for me too.

[2018-02-01 13:52] fleischie commented on #21
Bump: Check #30 for final thoughts, otherwise this will be fixed! 😱

[2018-02-01 13:53] fleischie commented on #23
Bump: This will be fixed when I merge #30. Raise your voice now or be silent forever (resp. later, when merged)!

[2018-02-01 13:54] fleischie commented on #24
Bump: Should be fixed, when #30 is merged. Anyways, please create a new issue, when merged. 😛

[2018-02-01 13:55] fleischie commented on #28
Next week I'll probably merge #30 after fixing some long-standing issues. Hopefully this should fix this for good for now.

[2018-02-01 13:59] fleischie commented on #33
Should be fixed, when #30 is merged (ETA: Beginning of next week.)

[2018-02-19 11:55] #21 closed

[2018-02-19 11:55] #33 closed

[2018-02-19 11:55] #23 closed

[2018-02-19 11:55] #24 closed

[2018-02-19 11:55] #28 closed

[2018-02-27 19:29] sQVe opened #35 "Autocomplete"
I'd like to first take the opportunity and thank everyone involved in this plugin. It's really nice having syntax highlighting. Over to the question...

Question: Is there currently any way to get autocomplete for styled-components? I know this is possible in VSCode but haven't found a proper way to do this in Vim.

[2018-02-27 20:36] fleischie commented on #35
Hello @sQVe and thank you very much. :blush:

What do you mean with autocomplete? Do you mean automatic suggestions for attributes and properties?

Tl;dr: I have to implement a function to suggest words based on the given input. You need to setup how to trigger and interact with these suggestions yourself, though. (See details-section for an in-depth explanation. :smile:)

<details>

### Overly co

[2018-02-28 06:47] sQVe commented on #35
@fleischie Yeah, that's exactly what I mean. It would be awesome if one could autocomplete exactly like how it works in a normal CSS file. I'm currently running `deoplete`, `LanguageClient` and `nvim-typescript` for auto/omni complete for a couple of languages.

I'd love to help but I'm far from well versed in VimScript.

[2018-02-28 13:32] sQVe opened #36 "Syntax issue during linting"
![screenfetch-2018-02-28_14-20-50](https://user-images.githubusercontent.com/2284724/36789847-4057dbe8-1c93-11e8-9417-5a809eef2689.png)

I noticed some strange syntax highlights when running `vim-styled-components` together with `Ale` today. Note above that I have two linting errors in the image above but the `)` is also marked **red**. These marks are at times persistent and sometimes disappears

[2018-04-01 02:26] mcabrams opened #37 "Recommended way of setting up with typescript falls into caveats"
The [recommended way of setting up styled-components in a typescript setup](https://www.styled-components.com/docs/api#typescript) according to styled-components, unfortunately, falls into the https://github.com/styled-components/vim-styled-components#caveats category.

This results in a lack of indenting and syntax highlighting for typescript users.

[2018-04-01 02:31] mcabrams commented on #37
It's possible it's not working for another reason, I don't seem to get proper indenting even when I do
`import styled from 'styled-components';`. Let me know what I can share to help better explain the issue/environment, thanks.

[2018-04-01 08:14] fleischie commented on #37
Hello @mcabrams,

thank you for reaching out. As far as I understand the description you linked was primarily for setting up the type system to work. But the `import * as styledComponents from 'styled-components';` makes the supported keywords available in the file, which then (should be) are picked up by this plugin.

How did you add the plugin (which plugin manager or manually?), what does vim s

[2018-04-08 13:51] corevo opened #38 "Installing plugin along side vim-coloresque adds -,#,. to keywords"
Having both this plugin and coloresque adds the -,#,. to iskeyword,
Its especially annoying when I try `ciw` and it picks up `something.foo` instead of just `foo`.
[code]
I tried swapping their order, as well as only loading them with minimal .vimrc containing only syntax enable and vundle.
Both of them don't directly call `set iskeyword` which is why I'm a bit lost.

[2018-04-08 17:50] fleischie commented on #38
Oh hi. This sounds like an interesting issue.

I will have to look into that. Gimme a half week or so. 😉

[2018-04-11 17:04] fleischie commented on #38
@corevo Looking at the source, yes, `Plugin 'gko/vim-coloresque'` is setting keywords here: [after/syntax/css/vim-coloresque.vim#L125](https://github.com/gko/vim-coloresque/blob/0c21b1469993e610600e88e734ffe90b9c10a514/after/syntax/css/vim-coloresque.vim#L125).

So, yeah. The added keyword-characters are because of `vim-coloresque`.

[2018-04-11 17:04] #38 closed

[2018-04-28 20:27] mcabrams commented on #37
@fleischie
- I added the plugin via Vundle.
- Current filetype is `typescript.tsx`
- File example:

[code]

- I hadn't used the plugin with vanilla js, but I just tried it and it works perfectly, so seems to be some issue specific to typescript.

[2018-05-04 02:11] mcabrams commented on #37
@fleischie The syntax highlighting seems vastly improved, every scenario I presented above now works; however, indentation is now not working for any of them (opening a new line goes to first column rather than 3rd column).

[2018-05-04 05:35] fleischie commented on #37
@mcabrams that sounds like progress so far.

Do you have a minimal working vimrc, that I could test with? Maybe it's because of a combination of specific plugins, that I wasn't aware of.

But I take a non-minimal vimrc as well, if you cannot really pinpoint the minimalism. 😉

[2018-05-04 23:07] mcabrams commented on #37
@fleischie I wouldn't call it minimal haha, but here it is: https://github.com/mcabrams/dotfiles/blob/master/dotfiles/vimrc

[2018-05-04 23:27] fleischie commented on #37
@mcabrams it's alright, it's something to start with... 👍

[2018-05-05 15:55] fleischie commented on #37
@mcabrams I just checked your vim config and I have one observation:

Inserting lines into a styled definition region (i.e. css-in-js regions) only triggers, if the line does not terminates the region. So this plugin only indents, if you don't close the template string before the end of the line.

The reason is to not indent single style lines, for example:
[code]

This means, that you might just

[2018-05-12 23:59] fleischie commented on #35
For everybody interested in that topic: check the latest `develop` branch, that contains the very first attempt of implementing this functionality. I didn't have much time to really test now, but it's there. :v:

[2018-05-13 18:09] sQVe commented on #35
@fleischie Awesome. I've been forced to disable this plugin due to https://github.com/styled-components/vim-styled-components/issues/36 sadly.

[2018-05-14 06:08] fleischie commented on #36
Can you provide me with a minimum working `.vimrc` or `.config/nvim/init.vim`, that has the above issues. And also maybe an example file, that produces the above screenshotted errors.

I'll do my best to support all the edge cases. 👍

[2018-05-16 02:49] b0o opened #39 "Plugin hangs and maxes CPU upon inserting a newline in a JS file"
After upgrading to 493190e, this plugin is causing (neo)vim to hang.

Any time I try to insert a line break, e.g. by pressing `o` in normal mode or `<return>` in insert mode, vim immediately hangs and starts maxing out the CPU. I have to manually kill the vim process.

I have tried to edit several different JS files with the same results, from a very simple file which consists of only the followin

[2018-05-16 05:27] fleischie commented on #39
Oh, wow. What a thorough issue report. Thank you for your effort. 🙂

Unfortunately I am aware of this but wasn't able to fix it, yet. This particular behavior is due to a infinite recursion between `vim-styled-component`'s and `vim-jsx`'s indenting function, that call each other.

The official, recommended quick-fix is to downgrade to the commit you mentioned.

I am working on it though. ✌️

[2018-05-16 05:29] fleischie commented on #36
No worries. I know the troubles of being overloaded with work/life. ☺️

Whenever you can make time. ✌️

[2018-05-16 05:34] b0o commented on #39
@fleischie Glad to hear! I really appreciate your work on this plugin, it's made my life a lot easier!

[2018-05-16 07:52] fleischie commented on #39
Hey @b0o can you test out the latest `develop` HEAD? (or more specific 07c4752)

Let me know, if it still hangs. I have to admit, I am getting very mixed results in my tests but this seems to work on my machine fairly reliant. :smile:

[2018-05-16 11:59] fleischie commented on #39
Did you have the time to check the other commit/newer HEAD? I put more effort into it, after seeing the suggested commit didn't fix it, but broke the indenting on all of the jsx files? 😛

[2018-05-16 16:59] fleischie commented on #39
Now I'm relatively positive, that the current `develop` branch is in a usable state.

No pressure, but if it works for you as well, I might just make another release of this. :smile:

[2018-05-16 17:17] fleischie commented on #37
@mcabrams Can you please check out the latest `develop` state of this plugin and give me a quick rundown, of what you might still be missing? Just if you have time, no pressure.

[2018-05-17 20:43] sQVe commented on #36
I was able to shake some time out today and I've found a `config` that consistently has issues in `nvim`. With the following `config`:

[code]

You can try it out against this content (the last parentetist should be marked red):
[code]

Hightly worth noting is that I only see this issues if I include and enable all these plugins together. They seem to not play nicely together. Let me know if you n

[2018-05-17 23:31] b0o commented on #39
@fleischie Sorry for the delayed response - 2880d81 works!

By the way, since you seem to have `develop` as the default branch, I think most plugin managers will install/update to the latest HEAD from there rather than the most recent release. Maybe you should make `master` default so that unstable code isn't automatically installed when people update their vim plugins?

[2018-05-17 23:31] #39 closed

[2018-05-18 06:12] sQVe commented on #36
@fleischie I did some further research and `rainbow` is well known to, at times, not play well with different syntax highlighters. An example is that it highlights `else` in bash with a red color, which it shouldn't.

There are some issues that touch on `rainbow` and `vim-javascript` but I have not noticed any problems with just running through plugins. Currently `rainbow` adds more value for me c

[2018-05-18 11:36] fleischie commented on #36
@sQVe I tried to replicate the above-mentioned errors with your given vimrc.

Unfortunately I wasn't able to reproduce any of these. Both the very first screenshot as well as the second described issue was apparent in my setup (resp. in your described minimal working example).

From my limit understanding of [`luochen1990/rainbow`](https://github.com/luochen1990/rainbow) this particular plugin inj

[2018-05-18 13:05] sQVe commented on #36
@fleischie Are you using `vim` or `neovim`. I'm using `neovim` and it might very well only be visible on there.

I think we should create a new issue and just link back to this one for history. I think the main culprit here is https://github.com/luochen1990/rainbow. This is a classic _case of too many chefs_ though.

[2018-05-22 10:16] #35 closed

[2018-05-22 10:16] #36 closed

[2018-05-22 10:20] fleischie opened #40 "`rainbow` plugin messes up `vim-styled-components`"
See #36 for further discussion around this topic.

[luochen1990/rainbow](https://github.com/luochen1990/rainbow) injects styles on runtime to highlight matching parenthesis and/or blocks in the same colors. This leads to issues with static highlighting, as these may be overwritten.

As I understood, this plugin is known to have issues with other plugins, but would be nice to work around the discre

[2018-05-24 16:13] dbow opened #41 "Media templates are not highlighted"
This is maybe another instance related to the [caveats](https://github.com/styled-components/vim-styled-components#caveats) in the README but [the pattern recommended for media queries in the docs](https://www.styled-components.com/docs/advanced#media-templates) doesn't get highlighted correctly by this plugin:

<img width="894" alt="screen shot 2018-05-24 at 12 06 42 pm" src="https://user-images.

[2018-06-02 23:17] fleischie commented on #41
Thank you for your patince so far...

I personally would not recommend this way of adding styles:
- it's unnecessarily complex for adding media queries,
- it's using unnamed constants and magic numbers
- it's definitely failing the grep-test
- it's difficult to understand as an "outsider".

This is also super difficult to implement, as I would need to dynamically store at least two different names

[2018-06-04 14:57] dbow commented on #41
Thanks for taking a look! It sounds like your issues are with the pattern for media queries recommended by the styled components documentation? But the issue I'm highlighting is really with nested template strings I think. Like you could simplify it down to just:

[code]

and see the underlying issue is the nested template string? or, that's my guess.

This pattern is also recommended in the [tips

[2018-06-04 15:48] dbow commented on #41
Oooo that makes a lot of sense :) Yeah, I can totally imagine that approach would be full of corner cases... but are there lots of corner cases once you've identified a styled components block? Like, inside a styled-components block, if there is a _nested_ tagged template literal, assume it's CSS?

It's not a _super_ high priority - happy to leave open or closed, whatever is easiest for you!

[2018-06-04 17:58] fleischie commented on #41
Hmm, 🤔.

I will think about this approach with an open issue. 😉

[2018-06-16 10:34] #32 closed

[2018-06-18 18:38] fleischie commented on #39
@b0o As you may have noticed. I took your advice and made `main` the default branch, now. I appreciate it, that you (unlike me) paid attention. :sweat_smile: :+1:

[2018-06-18 18:45] fleischie commented on #41
@dbow Hello again.

I had time to think about (and tinker with) the media templates, but came to the conclusion, that it's not feasible to support highlighting for this:
- It is no official API to support,
- it would only be a hack (because there is no clean way to keep track of what's styled and what's not), and
- it would only inconsistently work (if at all).

I hope you understand. :v:

[2018-06-18 18:45] #41 closed

[2018-06-19 17:07] dkarter commented on #39
@fleischie this breaks updates and installation using VimPlug. I solved this using:

[code]

You may want to update the README to the above or change the branch name to `master` instead of `main` (master is more standard and more likely to work out of the box for most plugin managers).

[2018-06-20 12:14] fleischie commented on #39
@dkarter Thanks for the heads up, yeah vim-plug handles it a little different than the other alternatives (by directly supplying a branch name).

[2018-06-25 18:44] vjsingh opened #43 "Usage with 'typescript.jsx" filetype"
I can't get this plugin to work for my TSX files. I'm using this plugin: https://github.com/peitalin/vim-jsx-typescript

which suggests this way of handling filetypes:
autocmd BufNewFile,BufRead *.tsx,*.jsx set filetype=typescript.jsx

If I do ":set filetype=typescript" in my TSX file, then I see the styled-components styling correctly.

I tried for a while but couldn't figure it out. Is there any

[2018-06-26 17:02] fleischie commented on #43
Hi. :thinking:  I don't seem to be able to reproduce this.

Can you give me a minimal `.vimrc` and example file, that illustrate what the problem is? If I change the filetype to `typescript.tsx` only my JSX styling changes, but the actual styled components highlighting still work.

[2018-06-29 14:34] vjsingh commented on #43
Sorry for the delay on this. It seems to be working now, I'm not really sure what happened. I'll reopen if I can reproduce it in the future. =)

[2018-06-29 14:34] #43 closed

[2018-07-20 15:57] dkarter opened #44 "Some components are not properly syntax highligted"
See title. Thanks!

![image](https://user-images.githubusercontent.com/551858/43012331-a4dabfa8-8c0b-11e8-898e-c2f5f7606825.png)

[code]

[2018-07-20 18:30] fleischie commented on #44
First of all: Thanks for opening an issue.
Second: Please don't write "title says it all," or such. That gives the impression you are too busy to provide context and imply, that I have enough of it to look for it myself, which I unfortunately don't.

So it would be awesome of you to provide me with a minimal working vimrc, that produces the above screenshot. I may take a look at this, then. :v:

[2018-07-20 19:39] dkarter commented on #44
Sorry I was in the middle of working and didn't want to forget about reporting this issue, so I just dropped it here. In retrospect I should have just put it in my notes and come back to it later so I can provide a better bug report. You deserve better! :)

So here is my second attempt. I try to be as thorough as possible which will hopefully it make it easier for you to reproduce and understand w

[2018-07-20 20:01] fleischie commented on #44
All good. I'm glad you could take the time to investigate.

You are also right with the regex, I will try to have a look over the weekend.

Thank you very much for your effort. 😊

[2018-07-21 19:32] fleischie commented on #44
@dkarter If you are interested in trying out a fix for your problem, you could give the `develop` branch a go and see, if that fixes your problem. :smile:

[2018-07-23 02:14] dkarter commented on #44
Thank you @fleischie! I've tested it locally with the `develop` branch and it seems to be working great! 💯

[2018-07-23 08:18] #44 closed

[2018-07-23 08:21] fleischie commented on #44
@dkarter I made a release and introduced the fix into main. Thank you very much again for taking the time to file an issue and help verify the solution.

:tada:

[2018-07-26 02:49] trevordmiller opened #45 "Suggestion: use the conventional "master" branch instead of "main""
So that you can do this:

[code]

Instead of:

[code]

[2018-07-26 02:57] trevordmiller commented on #45
Not a big deal though, I assume you had a good reason for doing this instead of using the normal `master` :)

[2018-08-05 04:17] asermax opened #46 "Make fallback auto-complete function configurable"
On the [autocomplete definition](https://github.com/styled-components/vim-styled-components/blob/main/after/autoload/styledcomplete.vim) for this plugin, the omnifunc is overwritten to allow css completion, but it does fallback to a secondary auto complete function when the cursor is not within a styles block.

The fallback idea is pretty good, but having it hardcoded to a certain complete functio

[2018-08-05 16:24] apazzolini opened #47 "Incorrect indentation for media query blocks"
When inside a media query block, indentation does not work as expected. This is specifically related to the `@` sign on the line - if you remove it, indentation works properly.

![Example](https://cl.ly/1Q2T0d2i3n3G/Screen%20Recording%202018-08-05%20at%2011.23%20AM.gif)

Minimal vim config

[code]

Thanks!

[2018-08-05 20:00] fleischie commented on #47
Hello. Thanks for the issue.

Just a short question now, before I look into it the following week: Did you try to add a css definition? It should re-indent on `:` and `;` among others. It's possible, it doesn't know it should indent based on the ambiguity of the surrounding block.

Please try out adding some css and/or tagged template interpolation and tell me, whether it still misbehaves. Thank y

[2018-08-05 20:10] fleischie commented on #46
Hey, thanks for the issue.

I'll check, whether there is a more general solution to this particular issue (i.e. whether one can call the css completer in css regions but the default completer (whatever that is) in js/ts regions).

[2018-08-05 20:53] apazzolini commented on #47
Unfortunately, adding a CSS definition doesn't help - the indentation remains one level less than it should.

I've also tried vim's indent feature (`=`), and that continues to indent incorrectly, with definitions and without.

[2018-08-09 14:20] fleischie commented on #47
@apazzolini Hi, could you check out the latest `develop` branch to see, whether it fixes the reported issue? Don't hesitate with follow-up questions/issues with this. :v:

[2018-08-09 14:26] fleischie commented on #46
@asermax Hi, could you check out the latest `develop` branch to see, whether it helped with your custom completer function?

I didn't really took the time to test anything except css-in-js and js-in-js. So if you find anything weird with the solution and/or have other information, just shoot. I'd appreciate it. :v:

[2018-08-09 14:44] apazzolini commented on #47
@fleischie It's working much better! There's still a bit of weirdness when I also have delimitmate enabled, but I don't think that's an issue for this project - using `=` to indent the range outputs the expected result.

![](https://cl.ly/0T3a1t0n3h0T/Screen%20Recording%202018-08-09%20at%2009.42%20AM.gif)

Thank you!

[2018-08-09 14:49] fleischie commented on #47
Cool, glad to hear.

If you think I should look into Delimitmate + styled-components, just open another issue. I may not be able to solve it completely, but you know.... The more eyes, the merrier the issues... now, wait. 😋

[2018-08-09 15:28] asermax commented on #46
@fleischie I gave a quick run and it seems to be working perfectly so far :ok_hand:. Thanks for the quick response!

For reference, I'm using the [Tern for Vim](https://github.com/ternjs/tern_for_vim) completion function.

[2018-08-11 12:36] tbo commented on #45
@trevordmiller I think this is a valid issue. Having `main` instead of `master` is counterintuitive. I assume, that `main` was chosen by accident, since all other `styled-components` repositories use `master`.

I would like to see this be reopened.

[2018-08-13 12:21] #47 closed, assigned to nobody

[2018-08-13 12:34] fleischie commented on #45
@tbo, @trevordmiller I disagree strongly with the default branch name, that `git` is using. It has social and cultural connotations, that I personally will not promote.

@trevordmiller I guess the original issue is more targeted towards `vim-plug`, that uses `master` as the default branch, see https://github.com/junegunn/vim-plug/issues/288 for more details on this. I don't think it's the task of

[2018-08-13 12:34] #45 closed

[2018-08-15 16:11] probablyup opened #48 "Upcoming styled-components v4 changes"
Just a heads-up that we will be making some top-level API changes in v4 that may affect your library.

1) `injectGlobal` is being removed
2) `createGlobalStyle` is being added

`createGlobalStyle` can likely inherit any syntax highlighting rules you may have been using for `injectGlobal`, `styled.*` etc.

More info: https://github.com/styled-components/styled-components/pull/1867

[2018-08-22 15:41] AlanWarren opened #49 "Highlighting lost based on cursor position"
Hello,

When editing large components with many nested styled component definitions, i will often see everything below my styled component definitions highlight as jsTemplateString until I move the cursor back within a styled component's definition.

I'm using a fairly default setup, with pangloss JS highlighting and vim-jsx-improve.

Few pics with different cursor positions.
![screen shot 2018-08

[2018-08-22 16:31] AlanWarren commented on #49
Sorry, I forgot to include this.  I've tossed together a minimal init.vim.  The above screenshots use my own colorscheme, but I tried a few popular ones I found on google, and they did the same thing.

`syntax on
call plug#begin('~/.config/nvim/plugged')
Plug 'pangloss/vim-javascript'
Plug 'mxw/vim-jsx'
Plug 'styled-components/vim-styled-components', { 'branch': 'main' }
call plug#end()

colorsche

[2018-08-23 20:59] AlanWarren commented on #49
I had a javascript syntax file with some custom rules inside .config/nvim/after/syntax that was causing this issue.

My apologies.

[2018-08-23 20:59] #49 closed

[2018-08-23 21:01] fleischie commented on #49
Oh, nice. I completely forgot to look at this, sorry. But awesome, that you were able to fix it on your own.

I'll be more responsive next issue, promised. 🙏

[2018-09-05 11:48] fleischie commented on #48
Done in release [v2.6](https://github.com/styled-components/vim-styled-components/releases/tag/v2.6).

Sorry I forgot all about this in advance and only now saw a release-tweet, so I quickly added support for the keyword. 🙇

[2018-09-05 11:48] #48 closed

[2018-09-15 19:42] tomaskallup commented on #37
Hi, I'm using [yats](https://github.com/HerringtonDarkholme/yats.vim) and I don't seem to get highlight at all. It's probably caused by the syntax definition relying on `jsTaggedTemplates` and others, which yats does not have. Is there anything I could do to try and improve this?

[2018-09-16 16:16] fleischie commented on #37
I'm currently afk (also this week) but I'll look into it as soon as I find the computer and time. ✌️

[2018-09-16 17:38] tomaskallup commented on #37
I've done some testings to try and assist you. I'll try to look into `yats` as I've gotten a little similiar with it and I might be able to do some changes on it's side.
Here is a example of the broken stuff:
[code]

[2018-09-16 19:45] fleischie commented on #37
What helps a lot is creating a minimal .vimrc that enables the erroneous behavior and an example file that showcases the errors (the latter you already did).

Apart from this you'll probably need more domain knowledge how yats and/or this plugin works.

I will help though, as soon as I can. 🤙

[2018-09-16 20:04] tomaskallup commented on #37
Here they are:
Minimal vimrc (uses vim-plug, contains convenient function SynStack for syntax regions/matches under cursor):
[code]

Example file:
[code]
I was able to fix the last one by adding `styledPrefix` to `nextgroup` of `typescriptAssign`, but I'm not sure that's the best solution (and I have no idea how one may do that from outside of `yats`), maybe there can be something done on side of

[2018-10-15 15:48] dakom commented on #37
Fwiw it seems [react-emotion](https://emotion.sh/docs/react-emotion) also doesn't play nicely with `yats` and `vim-styled components`. For example:

[code]

[2018-10-16 07:10] fleischie commented on #37
Hey @dakom,

thank you for your comment. Unfortunately it does not contain many informations about what is malfunctioning for you.

If you have the time, please update your code with maybe a screenshot of what your code currently looks like, a short description of what you expect and maybe why you think `yats` is the culprit in this scenario? Also please check out #51 to see, if that helps.

Thank

[2018-10-16 07:44] dakom commented on #37
@fleischie - good point, I should have provided more info.

Yesterday I went and found one of the commenter's above dotfiles and installed some of the same plugins, so my syntax config is like this:

[code]

When I have `HerringtonDarkholme/yats.vim` enabled, and `leafgarland/typescript-vim` disabled, I get the following:

![yats](https://user-images.githubusercontent.com/6406986/47000088-28ec2480

[2018-10-16 09:59] fleischie commented on #37
Hi again. Thanks for the follow-up.

Just replace

`Plug 'styled-components/vim-styled-components', { 'branch': 'main' }`

with

`Plug 'tomaskallup/vim-styled-compoments', { 'branch': 'main' }`

This should at least be the way. 😄

[2018-10-16 10:52] dakom commented on #37
That fixes it! :)

[2018-11-02 10:09] mulholio opened #52 "Syntax Highlighting Not Showing Up"
I can't seem to get the highlighting working and styled components are just showing up as regular template literals:

![screenshot 2018-11-02 at 10 05 53](https://user-images.githubusercontent.com/20966690/47909127-e85a0e00-de86-11e8-8e9c-b6438773fcc2.png)

I apologise for the vague issue, but I can't think of any other relevant details. I am using neovim (although I saw that hadn't been an issue

[2018-11-02 10:18] mulholio commented on #52
I have disabled coloresque, indentLine, delimitMate and vim-polygot and none of them seem to be causing the issue.

[2018-11-02 19:49] fleischie commented on #52
Hey @mulholio

I saw your issue and I will check it out as soon as I can.

I glimpsed, that you used `yats` is the above example a typescript file? Just so I know what to look for?

[2018-11-03 12:07] fleischie commented on #52
Hey @mulholio again.

Could you please elaborate why you are using [sheerun/vim-polyglot](https://github.com/sheerun/vim-polyglot) as well as [othree/yajs.vim](https://github.com/othree/yajs.vim)?

I have to admit, this plugin was exclusively written using [pangloss/vim-javascript](https://github.com/pangloss/vim-javascript) respectively vim-polyglot (which uses the former). Thus it makes sense th

[2018-11-09 10:59] fleischie commented on #37
With the latest release I feel we have improved the typescript support significantly (special thanks to @tomaskallup ) thus I would close this issue for now.

If anybody has any more issues with typescript, its setup with this plugin or related. Just open a new issue.

Thank you! :v:

[2018-11-09 10:59] #37 closed

[2018-11-26 09:34] fleischie commented on #52
@mulholio I can take a look at [othree/yajs.vim](https://github.com/othree/yajs.vim), as there might be others that prefer it over [sheerun/vim-polyglot](https://github.com/sheerun/vim-polyglot) or thus [pangloss/vim-javascript](https://github.com/pangloss/vim-javascript).

I keep you updated on the progress.

[2018-11-26 12:51] fleischie commented on #52
@mulholio I now took a few hours to look at how [othree/yajs](https://github.com/othree/yajs.vim) classifies the base javascript syntax items to hook into it/extend it/operate on it. If you could check out the develop-branch I'd appreciate some feedback. :smile:

If you don't know how, it's:

`Plug 'styled-components/vim-styled-components', { 'branch': 'develop' }`

in your vimrc file where you wo

[2018-11-26 14:48] mulholio commented on #52
Thank you for the speedy response!

Still appears to be reluctant to highlight.
<img width="617" alt="screenshot 2018-11-26 at 14 47 30" src="https://user-images.githubusercontent.com/20966690/49021298-3b736800-f18a-11e8-961a-96061c5e8feb.png">

It appears to have done something as my `const`s are now a different colour, but this doesn't seem to be affecting the styled components highlighting

[2018-11-26 17:20] fleischie commented on #52
@mulholio Hmm... I have to admit I merely switched out `sheerun/polyglot` with `othree/yajs.vim` in my personal `.vimrc`. I will check out your `.vimrc` directly tomorrow, and see whether I can reproduce your results with it.

[2018-11-27 09:10] adrianhelvik opened #53 "css right hand side value only not working"
This messes up the syntax highlighting beyond the template

[code]

Thanks :)

[2018-11-27 09:12] adrianhelvik commented on #53
And it does not really matter that this css fragment isn't well highlighted. But it shouldn't mess up the highlighting beyond the template tag.

[2018-11-27 09:12] mulholio commented on #52
Hopefully, it's not some other random plugin causing the issue.

Thank you once again.

[2018-11-27 09:13] adrianhelvik commented on #53
The syntax after the template tag is closed is `hi<cssCustomPositioningPrefix> trans<cssCustomPositioningPrefix lo<StorageClass>`.

[2018-11-27 09:30] fleischie commented on #52
@mulholio I checkout out your vimrc from above, did change to `{ 'branch': 'develop' }` and then `:PlugInstall` (I saw that you use [junegunn/vim-plug](https://github.com/junegunn/vim-plug).

It did not actually show the branch, so either run `:PlugUpdate` (this seems to update the branch, if it changed in the vimrc) or remove the line, run `:PlugClean` and add it again.

Let me know, if this chan

[2018-11-27 10:19] fleischie commented on #53
Hello and thanks for your effort @adrianhelvik .

Unfortunately I don't understand what you are trying to say or inquire with your issue. Please provide a short description of what you see (a screenshot works best) and ideally a minimal vimrc I can use to troubleshoot your issue.

And if you want to get an A+ on effort, consolidate your additional comments into one cohesive issue description. I re

[2018-11-27 11:01] adrianhelvik commented on #53
I did a PlugInstall and the problem was fixed. :)

[2018-11-27 11:01] #53 closed

[2018-11-27 13:08] mulholio commented on #52
Badabing! Working now.

I had previously called `:PlugUpdate` which I assumed updated to the correct branch. Might have only updated the main branch though as this didn't seem to fix the issue.

Commenting out the plugin completely, calling `:PlugClean`, then `:PlugInstall` got things working for me.

[2018-11-27 13:08] #52 closed

[2018-12-27 13:51] Akin909 opened #54 "Error thrown on indenting using with Lexima plugin"
Thanks for the amazing work @fleischie :heart_eyes: (plugin has been getting better and better :+1:).

I've been encountering an error using this plugin with [cohama/lexima](https://github.com/cohama/lexima.vim).

![lexima-error](https://user-images.githubusercontent.com/22454918/50482378-7a454980-09e6-11e9-9c9a-f7f48fecd917.png)

On trying to indent inside of JSX, I get the error above which I th

[2018-12-27 19:48] fleischie commented on #54
Hello @Akin909 and thank you for your kind words, I'm trying my best. :smile:

Calling `GetStyledIndent` is in fact by design, because it wraps a call for non-styled-components for different javascript plugins. So that is ok, I guess.

I will try to look into it, because I initially suspect a naming conflict between this and that plugin, but yeah I will have to investigate this further of course.

[2018-12-27 21:12] fleischie commented on #54
Haha, I lied. :man_shrugging: I used the downtime between family obligations to look into this issue.

Would you be so kind to test out the `develop` branch? (Use `Plug 'styled-components/vim-styled-components', { 'branch': 'develop' }` if you use [junegunn/vim-plug](https://github.com/junegunn/vim-plug), but this depends on your plugin manager.)

The above mentioned error seems to vanish once I i

[2018-12-27 22:42] Akin909 commented on #54
@fleischie thanks for looking at it so quickly :heart_eyes: , just tested out the develop branch and I'm not seeing the error anymore :+1: :100:

[2018-12-27 23:15] fleischie commented on #54
Cool. I'll marfe it as soon as I'll get the chance. 🚀

[2019-01-09 14:53] fleischie commented on #54
Hey @Akin909

I totally forgot I was to cut a release from the changes made in `develop`. I just did that now, so feel free to try out the `main` branch of this plugin.

I close this issue now. Feel free to open a new one, if you should have more troubles.

Thanks again for your contribution. 🙇

[2019-01-09 14:53] #54 closed

[2019-01-23 19:24] CarloPalinckx opened #55 "Highlighting stops working when generic is used"
The highlighting seems to top working if a generic is applied. The docs show the same issue, watch how "color" is green in the lower example.

<img width="1013" alt="screenshot 2019-01-23 at 20 23 40" src="https://user-images.githubusercontent.com/6347900/51631366-d1d6c680-1f4c-11e9-8329-10a41aa4f2c8.png">

[2019-01-24 12:00] fleischie commented on #55
Hey @CarloPalinckx ,
thanks for the report.

Yes, that indeed does not highlight correctly. I guess the next version that is mentioned in the docs is supported, though. And thus I can recommend the following alternative as a quick-fix:

[code]

I will try to make an estimation of how much extra work it would take to support both versions.

[2019-01-24 12:08] fleischie commented on #55
Although as I think about it, do you happen to know what the pros/cons/differences between the two documented versions are?

I can make it work fairly easy (I guess, it's just a matter of adding a matching rule changing the order of the `(Component)` and `<Interface>` sections. But I'm afraid as I don't know all the details of the topic I might miss something or worse introduce regressions.

So if

[2019-01-25 17:51] fleischie commented on #55
OK. It was a long day and maybe I'm not as receptive as I need to be, but are you implying that both are viable to use but only the interface-last syntax is the one we want to use to create styled-templated-props-components?

I mean I'm just working on an editor plugin to highlight the syntax correctly but erm, should I just support both versions?

[2019-01-26 23:54] fleischie commented on #55
@CarloPalinckx, can you do me the favor and check the latest `develop` branch? I did the changes I previously mentioned.

Let me know, if I can do anything to improve something. :v:

NOTE: What makes you think the coloring in the above mentioned docs were done using vim (just curious). And that color is colored differently (oh the irony) is somewhat out of my control. Somewhere the css definition

[2019-01-28 07:58] CarloPalinckx commented on #55
I don't think it's vim tbh, but the same issue happens like in the screenshots above. So I figured it would be the best example for the issue 😅

I'm pretty new to vim, how can I check out a specific branch (with Plug)?

[2019-01-28 08:18] fleischie commented on #55
Ah, ok. No worries.

Type in `Plug 'styled-components/vim-styled-components', { 'branch': 'develop' }` to use the develop branch specifically (and not the main branch).

[2019-01-28 10:47] fleischie commented on #55
I also just now realized there are additional interface definition possibilities (indexable types and optional attributes) and hence have updated the branch. Just fyi. :+1:

[2019-02-06 13:13] CarloPalinckx commented on #55
![screenshot 2019-02-06 at 14 12 05](https://user-images.githubusercontent.com/6347900/52343730-34ce6000-2a19-11e9-8e1f-3a7c21537570.png)

I still seem to be getting some issues, I get typescriptStringB as a result when checking the syntax type on "display" for instance/

[2019-02-07 09:56] cj opened #56 "Not highlighted inside of function"
It appears to not be highlighting inside of functions i.e.:

![image 2019-02-07 at 3 50 43 am](https://user-images.githubusercontent.com/1819/52403167-b3fc7c00-2a8b-11e9-8a4c-591e0d7ee6c6.png)

Or when cast to a variable:

![image 2019-02-07 at 3 54 09 am](https://user-images.githubusercontent.com/1819/52403338-1a819a00-2a8c-11e9-8c78-526b2df8766b.png)

This is it working when it's not inside or f

[2019-02-07 09:58] cj commented on #56
Incase anyone else has run into this, my current hack is:

[code]

[2019-02-11 11:45] fleischie commented on #55
Yeah. Whoops, I forgot about named interfaces and had a local change to support this already but totally forgot to update the remote branch.

I updated `develop` now, the above-mentioned version should work better now (but probably not perfect because I think I found even more edge cases I missed). Thanks for the continued feedback.

[2019-02-11 11:52] fleischie commented on #56
Hello @cj

please make sure to provide a minimal vimrc that allows me to reproduce the above mentioned highlighting. Otherwise I don't know how to help you.

[2019-02-11 21:16] cj commented on #56
@fleischie Sorry about that, here you go https://gist.github.com/cj/95337089bbc241407e7ae94e725e3ff0

![image 2019-02-11 at 3 15 35 pm](https://user-images.githubusercontent.com/1819/52593975-eb628400-2e0f-11e9-9c6d-a93d731a06c8.png)

If you need anything else let me know!

[2019-02-12 13:09] fleischie commented on #55
I also added support now to the extended API for typescript as mentioned in the 👆 comment:

- `.attrs()`
- `.extend` (which is deprecated but who am I to judge?)

[2019-02-12 13:34] fleischie commented on #56
@cj I think I found the issue, either I never bothered to add support or it may have changed but the issue you were referring to was specifically a [HerringtonDarkholme/yats.vim](https://github.com/HerringtonDarkholme/yats.vim) related issue.

This plugin registers tagged templates with a different name than the plugins that I used, so it was just a matter of time until it didn't work properly for

[2019-02-13 06:56] CarloPalinckx commented on #55
<img width="925" alt="screenshot 2019-02-13 at 07 55 14" src="https://user-images.githubusercontent.com/6347900/52692653-c3386980-2f64-11e9-8ccb-ba3631483b49.png">
This is awesome man 😎

[2019-02-14 04:03] cj commented on #56
@fleischie thank you!  I really appreciate it!

Here are some broken things I found going through the examples:

examples/issue-30-1.js:
![df31f9acf8dd4540e5280afbee5a6224 _image 2019-02-13 at 9 53 02 pm](https://user-images.githubusercontent.com/1819/52761924-02a19d00-2fdb-11e9-97b5-9ecf3a64e5f3.png)

examples/issue-30-2:
![image 2019-02-13 at 9 55 05 pm](https://user-images.githubusercontent.com

[2019-02-14 04:09] cj commented on #56
examples/issue-44:
![image 2019-02-13 at 10 08 42 pm](https://user-images.githubusercontent.com/1819/52762167-ff5ae100-2fdb-11e9-925d-3b3c7b97b5a5.png)

[2019-02-14 23:38] cj commented on #56
One other thing I noticed is the indenting is off:

![screen recording 2019-02-14 at 05 36 pm](https://user-images.githubusercontent.com/1819/52824701-3f26d480-307f-11e9-90c9-ce559ef8a1d4.gif)

[2019-02-15 07:44] fleischie commented on #56
@cj I really do appreciate you taking the time to investiage all of this. If I find the time I will address these.

[2019-02-15 15:32] CarloPalinckx commented on #55
I guess this can be close then right? 🙂

[2019-02-18 10:35] #55 closed

[2019-02-18 12:51] fleischie commented on #55
Oh yes, I completely forgot, that I wanted to release that change. Yes, closing is cool! :v:

[2019-05-04 00:26] alexandermckay opened #58 "Plugin error - "Not an editor command: Javascript.vim""
![Screenshot (49)](https://user-images.githubusercontent.com/23452413/57171324-aa9a6a00-6e56-11e9-8a31-1eaf4b67f124.png)

I am experiencing the following error when I open file with vim-styled-components installed.

I am unsure what is causing an unable to find any further information that might explain why this error could be occurring.

[2019-05-04 06:59] fleischie commented on #58
Hello and thanks for taking the time to file this issue.

From a quick glance I think this issue arises because the `typescript.vim` files giving an error are softlinks to the respective `javascript.vim` files. (The link files contain a path to their targets so that's why it raises a syntax error with `javascript.vim` not being a command). This might be because you are using bash on windows (I thi

[2019-05-20 09:30] marcusrognes commented on #58
I get this error as well.
I use cmder and powershell.

My .vimrc file:
[code]

[2019-05-30 22:49] snoblenet opened #59 "Only load in files that contain styled components"
Is there some way to make this only load in files that actually import the styled components module?

Or at least only to `.jsx` files?

[2019-06-04 11:36] fleischie commented on #59
Hello @snoblenet

erm. The former was the implementation method used in v1 of this plugin, this was unstable and inefficient because of different import syntaxes and also you would have had to scan the opened file for these strings which could have slowed down startup times immensely.

Might I ask what your intentions are? Maybe there is a way but it is linked to what you are trying to achieve (an

[2019-06-04 11:57] fleischie commented on #56
Hey @cj

I am kind of embarrassed to admit that I forgot to investigate this because I never took the time...

Using the vimrc you provided and looking at the files you mentioned, I wasn't really able to reproduce the shown misconfigurations. (Some are necessary, though, for example `-top`, `-right`, etc. is not easy to highlight correctly because of how regexp works in vim).

Let me know, if you

[2019-06-07 12:32] fleischie opened #62 "Improve indenting for filetype `typescript.tsx`"
The indenting in non-styled sections is not working, especially when in tsx sections:

Current behavior:

![Screen Shot 2019-06-07 at 14 31 19](https://user-images.githubusercontent.com/2211050/59104145-09a93e00-8931-11e9-8bb7-4b26d8a3833f.png)

Somwhat desired behavior:

![Screen Shot 2019-06-07 at 14 31 40](https://user-images.githubusercontent.com/2211050/59104161-14fc6980-8931-11e9-9e63-c53e98

[2019-06-07 14:05] fleischie commented on #58
@alexandermckay @marcusrognes as I suspected the symlinks were not working on Windows. I tried to circumvent this by creating actual files using the `runtime` command.

I will give this a week or so. And otherwise close this issue. :+1:

[2019-06-14 15:44] omatviiv opened #63 "Vim hangs when trying to create styled component"
Installed vim-styled-components today June 14, 2019.
My env: macOS-Mojave@10.14.5, vim@8.0.1283

1. When opening file that contains styled component vim opens it with some delay.
Each :e on the same file also is delayed.
2. Trying to edit styled component causes vim to hang and the only way to get vim back is Ctrl-c.

These issues happen only when vim-styled-components is installed (double checked

[2019-06-19 03:26] mcmillion opened #64 "Breaking syntax highlighting with vim-javascript"
Not sure when this started happening (I've been using this plugin alongside vim-javascript for a while), but in a recent update, this plugin starts to break vanilla JS highlighting when scrolling:

<img width="155" alt="Screen Shot 2019-06-18 at 10 05 20 PM" src="https://user-images.githubusercontent.com/717799/59734661-f2632e00-9217-11e9-9562-dc8c2243c0a3.png">

Note that this is in a .js file wi

[2019-06-19 05:34] fleischie commented on #64
Hello. Thanks for reporting.

I suspect you are viewing a rather long file. Vim has a limit to how many lines it can "remember" to initialize a syntax block and keep highlighting. If it exceeds this limit it usually just drops the highlighting. (I sometimes get this is git commit patches).

There is another open issue that makes me re-evaluate the current setup (especially regarding typescript). M

[2019-06-19 05:38] fleischie commented on #63
Hello. Thanks for reporting this issue.

May I ask you for your .vimrc, and optimally a file you observed this behavior for? It would help me to start investigating this issue.

Additionally could you elaborate on what you mean by "hanging"? Is it not responding for a certain amount of time? How long approximately?

I appreciate anything that would help me get started. 🙇

[2019-06-19 08:28] Oleh-Matviiv commented on #63
First, **workaround** for this issue for me is to **checkout this commit b5ec6ec**, maybe someone will find it useful.

[vimrc.txt](https://github.com/styled-components/vim-styled-components/files/3304808/vimrc.txt)
Hi Karl, yes please find attached .vimrc (renamed it to vimrc.txt to be able to attach).
I use pathogen to manage vim plugins and in the vimrc there is a section <PLUGINS></PLUGINS> wh

[2019-06-19 13:01] mcmillion commented on #64
So the file is _decently_ long (270ish lines), so that could be part of it, but it does render fine with the styled-components plugin turned off. It's just a vanilla JS file that exports an object. What's weird is I don't remember seeing this issue on any files in my project until a week or so ago. I'm starting to wonder if this is because of a recent neovim update.

[2019-06-19 13:12] mcmillion commented on #64
<img width="251" alt="Screen Shot 2019-06-19 at 8 07 55 AM" src="https://user-images.githubusercontent.com/717799/59768110-5eba4d80-9269-11e9-8c3a-2111d5a36a2c.png">

<img width="288" alt="Screen Shot 2019-06-19 at 8 10 24 AM" src="https://user-images.githubusercontent.com/717799/59768284-b9ec4000-9269-11e9-9eb3-e9bdb0db64dd.png">

Here's another shot of it in another colorscheme. What's weird is

[2019-06-19 13:13] mcmillion commented on #64
<img width="256" alt="Screen Shot 2019-06-19 at 8 12 43 AM" src="https://user-images.githubusercontent.com/717799/59768468-09327080-926a-11e9-8bd4-bdd46d6429be.png">

Just saw this in another file (it's only 100 lines). The syntax highlighting doesn't shift colors when scrolling like the other one does, but the same highlighting weirdness is there on the closing braces.

[2019-06-25 19:03] TomPridham opened #65 "Inconsistent Styled Handling in .tsx Files"
this plugin supports both the `styled.div` and `styled('div')` syntax in .js files, but it appears that only the latter is supported in .tsx files
![Screen Shot 2019-06-25 at 1 00 16 PM](https://user-images.githubusercontent.com/8271228/60125676-89187900-9749-11e9-93f3-c75295a60f87.png)
![Screen Shot 2019-06-25 at 12 59 38 PM](https://user-images.githubusercontent.com/8271228/60125677-89187900-974

[2019-06-30 22:47] snoblenet commented on #59
Thanks. My use case was that I was experiencing unreliable automatic indentation and the sheer number of plug-ins potentially making decisions in this area was making it hard to debug. Hence I wanted to disable plug-ins that may have a view about indentation but were not required in a given file.

[2019-06-30 22:47] #59 closed

[2019-07-12 18:52] lynndylanhurley commented on #64
I'm seeing this as well.

Highlighting breaks following backticks (`), but works intermittently as I scroll through the files.

I don't see the issue when I disable the `styled-components` plugin.

[2019-07-14 13:03] fr3fou commented on #64
I really need to find a solution to this. `vim-styled-components` is the only thing left from me finishing my nvim config :/

[2019-07-15 08:59] fleischie commented on #64
@mcmillion @lynndylanhurley @fr3fou Can you do me a favor and type `:syntax sync fromstart` and see if that changes anything?

What I suspect is happening is that the syntax elements are more than the syncing needs to correctly highlight complex/long files. Setting the syncing to `fromstart` means it's caching **all** the lines in the file, which makes the syntax highlighting take longer but shoul

[2019-07-15 09:13] fleischie commented on #65
Hello @TomPridham

thanks for taking your time to post this issue, but I don't really understand what the issue is?

[2019-07-15 11:12] fleischie commented on #63
Hey @Oleh-Matviiv ,

I guess you are using the default `vim` that comes with macOS, right?

I tried to use profiling to find the reason for the slowdown (which I only experienced with the built-in vim), but that feature is not available. I then tried neovim, and to compile vim from the sources (with profiling), only to find the slowdown disappearing. 😞

If you are using the packaged vim version, t

[2019-07-15 18:55] TomPridham commented on #65
in tsx files, `styled(Thing)` gets the same highlighting as in a js file, but `styled.div` gets standard string highlighting
<img width="551" alt="Screen Shot 2019-07-15 at 12 54 30 PM" src="https://user-images.githubusercontent.com/8271228/61240988-c4cab100-a6ff-11e9-8bd2-85832c3a4d0f.png">

[2019-07-17 12:42] pbondoer commented on #64
@fleischie I was experiencing the same issue, `:syntax sync fromstart` fixes the issue for me.

[2019-07-17 17:52] fr3fou commented on #64
That worked! Thanks!!

[2019-07-24 22:19] lynndylanhurley commented on #64
I added this to my `.vimrc` and it seems to have fixed the issue:

[code]

[2019-07-26 15:07] geocool opened #66 "Highlighting breaks when calling styled from inside object"
Unfortunately, highlighting is not working with our code.

![Image of broken code](https://i.imgur.com/lhAfp7s.png)

[2019-08-01 13:41] Simounet opened #67 "styled-jsx resolve handling"
Hi there,
I know that this is a bit out of scope but can I add the expected CSS syntax for this code?
[code]
It comes from [styled-jsx](https://www.npmjs.com/package/styled-jsx#external-css-and-styles-outside-of-the-component).

Have a nice day.

[2019-08-01 16:03] fleischie commented on #64
I personally would advise against putting `:syn sync fromstart` in a general location for a general type (because it can slow down vim).

Especially as this plugin is mostly for javascript/typescript files.

So, if anything use `autocmd BufEnter *.{js,ts,jsx,tsx} :syntax sync fromstart` (and maybe `autocmd BufLeave *.{js,ts,jsx,tsx} :syntax sync clear` (this should reset all syntax sync settings,

[2019-08-01 16:03] #64 closed

[2019-08-01 16:17] fleischie commented on #64
I will add a short description to the README.md outlining this issue and how to circumvent it.

[2019-08-01 16:34] fleischie commented on #65
Hey @TomPridham,

firstly sorry for not responding in all this time, secondly I am not able to reproduce your reported behavior.
![screen-1](https://user-images.githubusercontent.com/2211050/62310423-caf3b800-b489-11e9-8cd4-24a962c59be4.png)

If you continue to observe this behavior provide a vimrc and ideally a file with a minimum working example, so I can more easily help you. :smile:

[2019-08-01 18:01] TomPridham commented on #65
no worries. i appreciate the work you've done on this plugin. i'll try and work up an example this weekend

[2019-08-01 18:02] fleischie commented on #66
Hey @geocool , thanks for reporting this issue :pray: (and sorry for not responding until now),

can you please check out the latest `develop` branch, I implemented a solution that works as far as I can tell. Let me know if you need additional help (or e.g. the issue still exists). :+1:

[2019-08-01 18:05] fleischie commented on #67
Hey @Simounet ,

I don't see why this would be out of scope? This plugin already supports non-styled-components APIs (e.g. [diet-cola](https://github.com/jxnblk/diet-cola) (which is now archived I just saw, also I don't use it, so maybe support is not the best. :stuck_out_tongue_winking_eye: ).

So, if you want to try to add support on your own, go for it. If you need help, or would rather have me

[2019-08-02 07:07] Simounet commented on #67
Thanks for your reply. I'm trying to edit `syn region` from `after/syntax/javascript.vim` but I'm not sure about it.

[2019-08-02 08:32] fleischie commented on #67
I would suggest looking at how `jsTaggedTemplate` is overloaded in `after/syntax/javascript.vim`. But also make sure not only to highlight on `.resolve`, and `.global`, as these can be used from other APIs (and of course self-defined tagged template functions).

But it would be a first step, to just add `.resolve`, and `.global` to `jsTaggedTemplate`. If you need further help, let me know.

:+1:

[2019-08-03 23:34] geocool commented on #66
Thanks @fleischie now it works 👍

[2019-08-03 23:34] #66 closed

[2019-08-05 07:19] Simounet commented on #67
I just pushed it. Hope this is ok.

[2019-08-05 10:08] #67 closed

[2019-08-13 14:09] pbondoer opened #69 "Highlight issue"
Hey there!

Thanks for the fantastic plugin. I've been having some highlighting issues while working on some software lately:

![https://uplr.it/866bf.png](https://uplr.it/866bf.png)

Here's the file this plugin has trouble with:

https://github.com/LedgerHQ/ledger-live-desktop/blob/develop/src/components/AccountPage/AccountHeaderActions.js

Minimal `.vimrc` that can reproduce:

[code]

Let me kno

[2019-08-14 14:38] pbondoer commented on #69
So there seems there's a missing `}` in that CSS... makes sense that the syntax highlighting would break. I wonder why `styled-components` didn't throw any error on that :o

![https://i.imgur.com/c4jt321.png](https://i.imgur.com/c4jt321.png)

[2019-08-14 14:38] #69 closed

[2019-08-15 04:54] fleischie commented on #69
@pbondoer Hello thanks for taking your time to post this issue.

Sorry I couldn't reply earlier.

I'm glad you were able to figure out the solution on your own. 👍✌️

[2019-09-06 14:44] sheerun commented on #62
The fix should look something like this to also account for vim-jsx-pretty plugin:

[code]

[2019-09-06 15:13] fleischie commented on #62
Oh hey, thanks @sheerun for the hint. I might try it out whenever I feel like I can spare the moment. 🙇👍

[2019-09-16 14:25] omatviiv commented on #63
Hello Karl,

Sorry for coming back on this issue so late, thanks for your time and patience, I didn't have time to reinstall vim from sources (a lot have changed in my carrier last months...).

I recently bought new mac where simply installed vim using brew and the issue is not present there.
Taking into account that I even no longer have environment where it reproduced I think there is no need to

[2019-09-16 14:25] #63 closed

[2019-09-16 14:33] fleischie commented on #63
Glad to hear your appreciation. 😊
Thanks for your follow-up, though. 🙇

[2019-10-07 15:38] Chris-Slade opened #71 "Support for javascriptreact and typescriptreact filetypes"
Vim recently added `javascriptreact` and `typescriptreact` as filetypes, autodetected for *.jsx and *.tsx files (patch 8.1.1930). This plugin currently only supports the `javascript` and `typescript` filetypes.

See:
* https://github.com/vim/vim/issues/4830
* https://github.com/vim/vim/commit/92852cee3fcff1dc6ce12387b234634e73267b22
* https://github.com/neovim/neovim/pull/10858

I'm not sure what

[2019-10-11 12:57] fleischie commented on #71
Hello @Chris-Slade,

thanks for your research and reporting this issue, I was a bit busy the last few days, hence I will look in to this issue only now.

(I thought there was something off with indenting on typescript + react, but I had `prettier` take care of formatting so 🤷‍♂ .)

[2019-10-11 14:04] fleischie commented on #71
@Chris-Slade

Could you check out the newest `develop` branch to see if that fixes your problem (if you had a specific one). I did something, but I couldn't really focus on this task at the moment.

Let me know, if it helps or if you think this should be enough. 😅

[2019-10-11 14:36] Chris-Slade commented on #71
@fleischie Thanks for the response. `runtime!` seems to be the right way to handle this. Since https://github.com/styled-components/vim-styled-components/commit/22d5d88b43126b1014c7c484854fc7af38d1920e only added aliases for the indent scripts, I created PR https://github.com/styled-components/vim-styled-components/pull/72 to source the syntax and ftplugin scripts as well. Tested on JS and TS Reac

[2019-10-11 14:52] fleischie commented on #71
Cool. :+1: I just merged it an will make a new release.

For future reference: If this will be an issue again, please open another issue. :v:

[2019-10-11 14:52] #71 closed

[2019-10-18 08:08] Ironimus commented on #62
I believe the issue is fixed and can be closed?

[2019-10-22 08:41] #62 closed

[2019-10-23 23:33] alexseitsinger opened #73 "JSX Indentation"
It has come to my attention that this plugin, while very awesome, interferes with the indentation of JSX expressions that exist outside of a template tag.

The plugins I have enabled for Javascript are:
pangloss/vim-javascript
maxmellon/vim-jsx-pretty
styled-components/vim-styled-components

It appears that enabling this plugin changes the the indentexpr from GetJsxIndent() to GetStyledIndent() wh

[2019-10-24 08:15] fleischie commented on #73
Hello @alexseitsinger,

you are absolutely correct in the statement, that the indent expression is overwritten. On the other hand the new indentexpr uses and evaluates the previously set (and stored indent expression).

Of course I cannot be absolutely certain that this works always reliably (because I am no expert, and yeah...)

If you could provide me with a minimal vimrc that produces that issu

[2019-12-29 10:49] rsslldnphy commented on #73
Hi @fleischie , I've also run into this issue (using neovim) and have created a minimal repo that reproduces it: https://github.com/rsslldnphy/vim-styled-components-indentation-issue. This is the `init.vim`:

[code]

Example tsx file using the config that doesn't use `vim-styled-components`.

<img width="676" alt="image" src="https://user-images.githubusercontent.com/1231200/71555858-4a30ec00-2a28

[2020-01-22 08:03] rodrigo1987macedo opened #74 "Entire document highlighting messed up when using with polyglot"
It definitely happens when using vim-styled-componets.

![image](https://user-images.githubusercontent.com/21261211/72876006-46655200-3cd4-11ea-8009-1553736135bd.png)

[2020-01-22 08:31] fleischie commented on #74
Hello.

Although I appreciate you reporting a bug, I won't be able (or willing for that matter) to further look into this issue unless you provide a good description, a reproducable minimum vimrc, and ideally a test case.

Thanks. ✌️

[2020-01-24 01:11] fcanela opened #75 "Broken indent in TypeScript with vim-polyglot"
In the first place, thanks for creating & maintaining the plugin. I have recently found an issue with indenting and tracked it down to a conflict of plugins.

What happens:
When both plugins are enabled, the indentation level is not preserved when pressing enter to create a new line.

Example:
[code]

Expected:
[code]

The auto-indentation after curly braces is also disabled.
[code]
Expected:
[cod

[2020-01-24 17:51] roginfarrer commented on #56
Just wanted to throw in that I'm having this issue, too.

With a function:

![Screen Shot 2020-01-24 at 12 50 37 PM](https://user-images.githubusercontent.com/9063669/73091318-31411c80-3ea8-11ea-93f2-016f1fbb4976.png)

Without a function (which works):

![Screen Shot 2020-01-24 at 12 50 46 PM](https://user-images.githubusercontent.com/9063669/73091336-3e5e0b80-3ea8-11ea-905e-77d8bfdff36e.png)

[2020-01-26 22:53] pappasam opened #76 "Causes conflicts with vim-jsx-pretty: cannot disable on tsx"
See https://github.com/MaxMEllon/vim-jsx-pretty/issues/124

Basically, `syntax/typescript.vim` automatically loads `syntax/javascript.vim`, preventing the configuration option `g:vim_jsx_pretty_disable_tsx` from working. I've stopped relying on this plugin, but since vim-jsx-pretty is a popular library, it might be a good idea to fix this issue at some point.

[2020-02-04 16:45] fleischie opened #77 "Unmaintained?"
Dear community.
Thanks for bearing me while I tried my best to maintain this plugin as long as I did.

Unfortunately I am not able to focus on this project anymore.

If someone is willing to officially become the maintainer of this project, please let me know, and I'll try to add you to this group/project/repo/group/whatever-its-called. :v:

[2020-02-12 20:17] joerideg commented on #77
Thanks for you hard work!

[2020-02-15 21:54] stevematney commented on #75
I thought this might be caused by a conflict with [yats.vim](https://github.com/HerringtonDarkholme/yats.vim) which is what vim-polyglot uses for TypeScript syntax highlighting and indentation, but when you load _just_ yats.vim and vim-styled-components, indentation works fine. It seems that the conflict is with code specific to vim-polyglot.

[2020-02-25 23:24] jameswritescode commented on #77
It might be worth putting this into the README that way people visiting the repo for the first time can see that you're looking for new maintainers

Thanks for your work :)

[2020-03-10 17:39] Jayphen commented on #75
I'm experiencing this too.

I notice when I run `:verbose set indentexpr?` with this plugin disabled, I can see `Last set from <snip>/vim-polyglot/indent/typescript.vim line 19`

If I enable this plugin and run the command again, I see `Last set from <snip>/vim-polyglot/after/indent/javascript.vim`.

I have no idea what this means, but perhaps it helps debugging

[2020-03-10 17:49] Jayphen commented on #62
@sheerun Where should one put the above if/else block in order to fix this?

[2020-03-26 15:28] mjc-gh commented on #56
I am also seeing this with Typescript. For example in `foo.tsx`:

![image](https://user-images.githubusercontent.com/82063/77664569-d2a22880-6f54-11ea-9663-866b62d17eac.png)

I am using vim-polygot via [janus](https://github.com/carlhuda/janus).

[2020-04-13 04:29] insidewhy commented on #75
If I load `vim-styled-components` after vim-jsx-pretty, then indentation works in more places, like function bodies. But still doesn't work in json. Had to stop using vim-styled-components.

[2020-04-15 10:55] insidewhy commented on #75
@stevematney BTW this happens without using vim-polyglot, I'm just using plugged here.

[2020-04-17 13:43] hbarcelos opened #78 "Please don't mess with my text objects"
Hi, I'm a long-time user of Vim and recently I started working with styled components.

I'm a heavy user of Vim's text objects and I noticed something that has been bugging me for a while when the `vim-styled-components` plugin is loaded.

More specifically, the _word_ text object has historically a pretty well definition of what is a "word". Characters like `-` or `.` are considered to be word de

[2020-04-22 17:15] hbarcelos commented on #78
Today I found out that this actually is not actually `vim-styled-components` fault.

The actual culprit: https://github.com/gko/vim-coloresque/issues/20

I was using `vim-coloresque` alongside this plugin and the problem is [here](https://github.com/hbarcelos/vim-styled-components/blob/main/after/syntax/javascript.vim#L21-L28):

[code]

Since this plugin imports all syntax for CSS files and `vim-c

[2020-04-22 17:15] #78 closed

[2020-05-19 20:56] cj commented on #75
Just remove https://github.com/styled-components/vim-styled-components/blob/main/after/indent/typescriptreact.vim#L1 from all the files in the indent folder.

[2020-07-30 08:27] alex-shamshurin commented on #75
The same issue is here

[2020-08-04 17:01] joaohenrique-hs commented on #75
The same issue is here too :/

[2020-08-04 21:11] joaohenrique-hs commented on #75
When I open another file with other types, when come back to typescript file, indentation works perfectly, even using ```vim-styled-components```

[2020-08-17 20:26] FernandoTorres commented on #28
I just solved this issue by adding:

[code]

to my vimrc.

In my case the symptom was inserting a '[' char on a long markdown file (~4K lines).

Found the solution here:

https://www.zhihu.com/question/60367881

You can also check `:help maxmempattern`

[2020-10-05 10:46] fleischie commented on #75
I merged a PR that advertised to fix this issue. I did not test it, but it is available on the develop branch. If you want you can check it out.

[2020-10-05 11:06] joaohenrique-hs commented on #75
In my tests, it's working perfectly!!!
Thanks for the fix :)

[2020-10-05 15:18] stevematney commented on #76
This _should_ be resolved on the `develop` branch.

[2020-10-05 15:19] stevematney commented on #74
This is likely to have been resolved with #80, which is currently on the `develop` branch.

[2020-10-05 15:19] stevematney commented on #73
This is likely to have been resolved with #80, which is currently on the `develop` branch.

[2020-10-05 15:21] stevematney commented on #58
I was also seeing this issue while working on #80, which has been merged to the `develop` branch. I think I fixed it.

[2020-11-17 12:06] CallumHoward commented on #76
This was working fine for me up until a few weeks ago and now with vim-jsx-pretty and vim-styled-components.
- Now if I source vim-styled-components first I get errors and the styled components syntax highlighting doesn't work.
- If I source it after vim-jsx-pretty there are no errors but still no syntax highlighting on styled components.

[2021-03-18 00:23] richardxia commented on #75
Is there any chance that the fix can be merged from the `develop` branch into the `main` branch? I also tested the `develop` branch, and it fixed the issue for me as well.

I also noticed that the only other change present in `develop` that's not in `main` is the message in the README about this project needing a maintainer. Since GitHub only shows the default branch's README by default, that mess

[2021-03-18 08:14] #75 closed

[2021-03-18 08:14] #76 closed

[2021-03-18 08:19] fleischie commented on #75
Cut a new release with the proposed changes, @richardxia thanks for letting me know...

[2021-03-18 15:59] stevematney commented on #77
Thanks for all your work on this @fleischie! I'd love to help maintain it, but I've never built or maintained a Vim package. Just made some basic PRs to this one. I'd love to be involved, but it would be great to have at least one other person helping. (Preferably someone who knows more about Vimscript. 😆)

[2021-03-18 16:04] richardxia commented on #75
Thank you!

[2021-06-30 22:22] JESii commented on #77
Same here -- nice plugin that I'd like to keep using. I've written a modicum of my own vimscript stuff, but I'm certainly not a pro. I'll see if I can pull down one of the issues and take a look.

[2021-10-01 12:13] pjg opened #81 "Styling breaks when using passed prop with backticks helpers"
Minimal reproducible testcase:

[code]

Results in the following breaking of styling right after the backtick for the styled component definition (for the rest of the file):

![image](https://user-images.githubusercontent.com/10712/135617828-4a3ce84a-4267-4279-81a3-7d1f169d6d3e.png)

(`media` is an external helper that I just replaced with an empty object for the purpose of documenting this issue)

[2022-01-11 08:56] christopher-francisco commented on #81
Same issue here